.grid {
    display: flex;
    width: 660px;
    flex-wrap:wrap;
}

.gridSquare {
    border: 0.5px solid lightgrey;
}

.gridHover {
    background-color: darkblue;
}

/* 
input 16 -------> configuro
square = (660/input) - 2
*/

